/*
1. posicionamiento
2. modelo de caja (box model)
3. tipografia
4. estilos (temas visuales)
5. otros
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f8f8fc;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: 120px;
}

.header-title {
  position: absolute;
  width: 268px;
  height: 25px;
  left: 24px;
  top: 54px;
}
.header-title h3 {
  color: #58506b;
}

.header-img {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 23px;
  top: 54px;
}
.main-info {
  width: 100%;
  height: 260px;
}
.main-container-info {
  position: absolute;
  width: 327px;
  height: 260px;
  left: 24px;
  right: 24px;
  top: 119px;
  background: linear-gradient(100deg, #2c52d8 40%, #54d1ed 100%);
  border-radius: 20px;
}
.main-text1 {
  position: absolute;
  width: 112px;
  height: 50px;
  left: 25px;
  top: 30px;
}
.main-text1-p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  vertical-align: Top;
  color: white;
}

.main-text2 {
  position: absolute;
  width: 60px;
  height: 21px;
  left: 20px;
  bottom: 69px;
}
.main-text2-p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  align-self: Left;
  color: white;
}

.main-text3 {
  position: absolute;
  width: 185px;
  height: 49px;
  left: 20px;
  bottom: 20px;
}
.main-text3-p {
  font-style: bold;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  align-self: Left;
  vertical-align: Center;
  color: white;
}
.main-img {
  position: absolute;
  width: 170px;
  height: 180px;
  left: 147px;
  right: 10px;
  top: -30px;
}
.main-info-status {
  width: 100%;
  height: 102px;
}
.main-status {
  position: absolute;
  width: 327px;
  height: 102px;
  top: 399px;
  left: 24px;
  right: 24px;
  background: white;
  border-radius: 20px;
}
.main-status-text1 {
  position: absolute;
  width: 130px;
  height: 21px;
  left: 21px;
  top: 20px;
}
.main-status-text1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #58506b;
}
.main-status-text2 {
  position: absolute;
  width: 130px;
  height: 21px;
  left: 21px;
  bottom: 20px;
  color: #58506b;
}
.main-status-text2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #58506b;
}
.divider {
  position: absolute;
  height: 0px;
  width: 287px;
  left: 20px;
  bottom: 51px;
  border-radius: 0px;
  border: 1px solid #faf9fd;
}
.main-status-text3 {
  position: absolute;
  width: 130px;
  height: 21px;
  left: 174px;
  top: 20px;
  color: #58506b;
}
.main-status-text3 p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: end;
  color: #58506b;
}
.main-status-text4 {
  position: absolute;
  width: 130px;
  height: 21px;
  left: 174px;
  bottom: 20px;
  color: #58506b;
}
.main-status-text4 p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: end;
  color: #58506b;
}
